:root {
  /* 首页标题样式 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(135deg, #5672cd 10%, #0b42d8 100%);

  /* 首页图标背景 */
  --vp-home-hero-image-background-image: radial-gradient(
    circle at 50% 50%,
    #5672cd 10%,
    #0b42d8 35%,
    transparent 50%
  );
  --vp-home-hero-image-filter: blur(150px);
}

.medium-zoom-overlay {
  z-index: 30;
}

.medium-zoom-image {
  z-index: 31;
}

:root {
  /* 调整 hero 部分图片大小 */
  .VPHero .image-src {
    width: 230px; /* 设置想要的宽度 */
    height: auto; /* 保持宽高比 */
  }
}
