.draggable-area {
  -webkit-app-region: drag;
  height: 50px; /* Set the height of the draggable area */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 1000; /* Make sure it's at the top */
  pointer-events: none; /* Ensure that click events on other elements are not affected */
}

.non-draggable {
  -webkit-app-region: no-drag;
  pointer-events: auto;
}

.no-hover-effect:hover {
  text-decoration: none !important;
}

.scrollbar-base {
  @apply rounded-sm scrollbar-track-transparent scrollbar-thumb-muted scrollbar-thumb-rounded-lg scrollbar scrollbar-w-2 scrollbar-h-1;
}

.scrollbar-base-thin {
  @apply rounded-sm scrollbar-track-transparent scrollbar-thumb-muted scrollbar-thumb-rounded-lg scrollbar scrollbar-w-1 scrollbar-h-1;
}

@font-face {
  font-family: 'Source Han Sans VF';
  src: url('@assets/fonts/SourceHanSans-VF.otf.ttc') format('truetype-variations');
  /* Supported word weight ranges */
  font-weight: 100 900;
  font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out;
}

.img-initial {
  @layer base {
    img {
      display: initial;
    }
  }
}
