/* shadcn-ui START */

@layer base {
  :root {
    --background: 230 24% 19%;
    --foreground: 229 35% 75%;
    --muted: 230 12% 23%;
    --muted-foreground: 230 12% 73%;
    --popover: 230 24% 16%;
    --popover-foreground: 229 35% 85%;
    --card: 230 24% 17%;
    --card-foreground: 229 35% 80%;
    --border: 230 14% 24%;
    --input: 230 14% 27%;
    --primary: 223 45% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 223 30% 75%;
    --secondary-foreground: 223 30% 15%;
    --accent: 230 24% 34%;
    --accent-foreground: 230 24% 94%;
    --destructive: 2 80% 58%;
    --destructive-foreground: 0 0% 100%;
    --ring: 223 45% 44%;
    --radius: 0.3rem;
  }
}

/* shadcn-ui END */
