@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@layer base {
  :root {
    --background: 230 8% 85%;
    --foreground: 229 26% 28%;
    --muted: 230 12% 81%;
    --muted-foreground: 230 12% 21%;
    --popover: 230 8% 82%;
    --popover-foreground: 229 26% 18%;
    --card: 230 8% 83%;
    --card-foreground: 229 26% 23%;
    --border: 0 0% 80%;
    --input: 0 0% 77%;
    --primary: 223 42% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 223 30% 75%;
    --secondary-foreground: 223 30% 15%;
    --accent: 230 8% 70%;
    --accent-foreground: 230 8% 10%;
    --destructive: 2 82% 30%;
    --destructive-foreground: 2 82% 90%;
    --ring: 223 42% 57%;
    --chart-1: 223 42% 57%;
    --chart-2: 223 30% 75%;
    --chart-3: 230 8% 70%;
    --chart-4: 223 30% 78%;
    --chart-5: 223 45% 57%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 230 24% 19%;
    --foreground: 229 35% 75%;
    --muted: 230 12% 23%;
    --muted-foreground: 230 12% 73%;
    --popover: 230 24% 16%;
    --popover-foreground: 229 35% 85%;
    --card: 230 24% 17%;
    --card-foreground: 229 35% 80%;
    --border: 230 14% 24%;
    --input: 230 14% 27%;
    --primary: 223 45% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 223 30% 75%;
    --secondary-foreground: 223 30% 15%;
    --accent: 230 24% 34%;
    --accent-foreground: 230 24% 94%;
    --destructive: 2 80% 58%;
    --destructive-foreground: 0 0% 100%;
    --ring: 223 45% 44%;
    --radius: 0.3rem;
  }
}
